# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env

# Docker
*.log
docker-compose.override.yml

# Frontend build
frontend/build/

# IDE
.vscode/
.DS_Store
.idea/
